doctype html
html(lang="en")
	head
		title YardWiz
		meta(name='viewport', content='user-scalable=no, width=device-width')
		meta(name='apple-mobile-web-app-capable', content='yes')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:100,300,400')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Vibur')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/flaticon.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/animate.min.css')
		link(rel='stylesheet', href='/stylesheets/provicon.css')
		link(rel='stylesheet', href='/stylesheets/icons.css')
		link(rel='stylesheet', href='/stylesheets/jquery.slickpanel2.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/modal.css')
	body
		section#home
			a.logo.head(href='#home') YardWiz
				span.glyph-icon(data-icon="")
			.container
				.home-content
					h1
						| Take Ownership 
						br/ 
						|	Of Your Yard! 
					a.button(href="#services") Our Services
				a.more-down-link(href="#about-us") Learn More
					i.flaticon-caret2
		header#navy.navbar
			div.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only Toggle Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a#nav-logo.navbar-brand.logo(href='#home') YardWiz
						span.glyph-icon(data-icon="")
				div#navi.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a(href='#home') HOME
						li
							a(href='#services') SERVICES
						li
							a(href='#about-us') ABOUT US
						li
							a(href='#contact') CONTACT US
		section#modal-details.semantic-content(tabindex='-1', role='dialog', aria-hidden='true', aria-labelledby='modal-label', data-bind="with: selectedService")
				.modal-inner
					header#modal-label
						h1(data-bind='text: name')
					.row.modal-content
						.col-xs-6.col-sm-6
							h2 What's Included
							// ko foreach: included
							p(data-bind='text: $data')
							// /ko
						.col-xs-6.col-sm-6
							h2 Select Applicable Options
							// ko foreach: options
							p.checkbox-p(data-bind='css: {radio: $parent.usesRadios}')
								// ko ifnot: $parent.usesRadios 
								input(type='checkbox', data-bind='attr: {id: $parent.name() + "_" + $index()}, checked: $parent.selectedOptions, value: $data')
								// /ko
								//ko if: $parent.usesRadios
								input(type='radio', name='servicetype', data-bind='attr: {id: $parent.name() + "_" + $index()}, checked: $parent.selectedOption, value: $data')
								// /ko
								label(data-bind='attr: {for: $parent.name() + "_" + $index()}')
									span.cbox
										i.coricon-check(aria-hidden='true')
									span(data-bind='text: $data')
							// /ko
					footer
						a.button(href="#contact", data-dismiss='modal', data-bind="click: $parent.addService.bind($data)") Add Service
				a.modal-close(href='#!', title='Close this modal' data-close='Close' data-dismiss='modal')
		
		section#services
			.container
				h1 services
					h3 How can we help? Select a service.
				.row.content
					a.dont-scroll.service.call-modal.col-xs-6.col-sm-3.scroll.animated(data-anim='bounceIn', href="#modal-details", data-bind="click: selectService.bind($data, 'snow-removal'), clickBubble: true")
						span.service-icon(data-details='#snow-removal')
							span.glyph-icon.wf(data-icon='')
						p Snow Removal
					a.service.call-modal.col-xs-6.col-sm-3.scroll.animated.dont-scroll(data-anim='bounceIn', data-animation-delay='200', href="#modal-details")
						span.service-icon(data-details='#lawn-care', data-bind="click: selectService.bind($data, 'lawn-care')")
							span.glyph-icon.ss(data-icon='')
						p(style='margin-left: -5px;') Lawn Care
					a.service.call-modal.col-xs-6.col-sm-3.scroll.animated.dont-scroll(data-anim='bounceIn', data-animation-delay='400', href="#modal-details")
						span.service-icon(data-details='#plant-service', data-bind="click: selectService.bind($data, 'plant-service')")
							span.glyph-icon.ps(data-icon='')
						p Plant Service
					a.service.call-modal.col-xs-6.col-sm-3.scroll.animated.dont-scroll(data-anim='bounceIn', data-animation-delay='800', href="#modal-details")
						span.service-icon(data-details='#tree-service', data-bind="click: selectService.bind($data, 'tree-service')")
							span.glyph-icon.ts(data-icon='')
						p Tree Service
				.row.content.hidden-xs
					a.service.call-modal.col-xs-6.col-sm-3.scroll.animated.dont-scroll(data-anim='bounceIn', data-animation-delay='1000', href="#modal-details")
						span.service-icon(data-details='#fence-deck', data-bind="click: selectService.bind($data, 'fence-deck')")
							span.glyph-icon.fd(data-icon='')
						p Fence & Deck
						span Services
					a.service.call-modal.col-xs-6.col-sm-3.scroll.animated.dont-scroll(data-anim='bounceIn', data-animation-delay='1200', href="#modal-details")
						span.service-icon(data-details='#install-design', data-bind="click: selectService.bind($data, 'install-design')")
							span.glyph-icon.id(data-icon='')
						p
							| Installation
						span(style='margin-left: -10px;') & Design
					a.service.call-modal.col-xs-6.col-sm-3.scroll.animated.dont-scroll(data-anim='bounceIn', data-animation-delay='1400', href="#modal-details")
						span.service-icon(data-details='#trash-removal', data-bind="click: selectService.bind($data, 'trash-removal')")
							span.glyph-icon.tr(data-icon='')
						p
							| Yard Trash
						span Removal
					a.service.call-modal.col-xs-6.col-sm-3.scroll.animated.dont-scroll(data-anim='bounceIn', data-animation-delay='1600', href="#modal-details")
						span.service-icon(data-details='#water-system', data-bind="click: selectService.bind($data, 'water-system')")
							span.glyph-icon.is(data-icon='')
						p
							| Irrigation
						span Systems
				.row.visible-xs
					.pages
						#prev.page-button
							span.glyphicon.glyphicon-circle-arrow-left.enabled
						#next.page-button
							span.glyphicon.glyphicon-circle-arrow-right.enabled
		section#about-us
			.col-sm-6.hidden-xs(style="padding:0;")
				img#about-img(src="/images/home.png")
			.col-xs-12.col-md-4
				h1(style="font-size: 4em;") ABOUT US
				p YardWiz is a premier landscaping company that was developed with the customer experience in mind. Here at YardWiz we have found that customers are looking for a company that provides quality services without the stress. If you are a frequent traveler, busy with the kids or work, or just looking to give your yard the upgrade it deserves YardWiz is your one stop source for landscaping services.
		section#contact
			.horizln
			h1 Contact Us
			h3 Questions about a service? Shoot us a line.
			div.container.contact-form-wrapper
				form#contact.form-horizontal(name="contact-form", role="form")
					.row
						.col-sm-6
							.select-services
								.button-wrapper(data-bind="if: added_services().length < 1")
									a.button(href="#services") Choose a service
									p If inquiring about specific services, please select them.
								.test(data-bind="if: added_services().length > 0")
									h4 To view or edit the services you have chosen use the dropdown below.
									.select
										select#drop.select-hidden
											option.hide View/Edit Selected Services
											// ko foreach: added_services
											option(data-bind="value: $data, text: $data") 
											// /ko	
										.select-styled(data-bind="with: selectedDropdown, click: toggleDropdown.bind($data), clickBubble: false")
											span(data-bind="text: name")
										ul.select-options
											// ko foreach: added_services
											li(data-bind="attr: {rel: $data}, text: $data, click: $parent.selectDropdown.bind($data), clickBubble: false, css: {selected: $parent.isSelected($data)}")
											// /ko
									.service-details(data-bind="with: selectedDropdown")
										span
											h1(data-bind='text: name', style="display: inline-block; width: auto;")
											span
												i.fa.fa-trash-o.del(data-bind="click: $parent.removeService.bind($data, name())") 
										h2 Additional Options
										// ko foreach: options
										p.checkbox-p
											input(type='checkbox', data-bind='attr: {id: $parent.name() + "_" + $index()}, checked: $parent.selectedOptions, value: $data')
											label(data-bind='attr: {for: $parent.name() + "_" + $index()}')
												span.cbox
													i.coricon-check(aria-hidden='true')
												span(data-bind='text: $data')
										// /ko
									a.button(href="#services") Add More Services?
						.col-sm-6
							#form-errors(data-bind="css: {errored: hasErrors, success: succeeded}")
								span(data-bind="visible: hasErrors")
									strong(data-bind="text: formError")
								span(data-bind="visible:succeeded") Thank you for your message!									
							.input-wlabel.required
								label(for="name") Name
								span.input-fluid
									input#name.form-control(type="text")
							.input-group-inline
								.input-wlabel.required
									label(for="email")
										span.visible-xs.glyphicon.glyphicon-envelope
										span.hidden-xs Email
									span.input-fluid
										input#email.form-control(type="text", data-formance_algorithm='complex')
								.input-wlabel.required
									label(for="phone")
										span.visible-xs.glyphicon.glyphicon-phone-alt
										span.hidden-xs Phone
									span.input-fluid
										input#phone.form-control(type="text")
							.input-wlabel
								label(for="street") Street
								span.input-fluid
									input#street.form-control(type="text")
							.input-group-inline
								.input-wlabel(style="width: 40%; margin-right: 2%;")
									label(for="city") City
									span.input-fluid
										input#city.form-control(type="text")
								.input-wlabel(style="float:left; width: 29%; margin-right: 2%;")
									label(for="state") State
									span.input-fluid
										input#state.form-control(type="text")
								.input-wlabel(style="width: 27%;")
									label(for="zip") Zip
									span.input-fluid
										input#zip.form-control(type="text", data-formance_length=5)
							.input-wlabel.required.textarea
								label(for="message") Message
								span
									textarea#message(name="message")
							a#submit-form.button.purple.pull-right(href="#form-errors" data-bind="click: submitForm.bind($data)") SUBMIT
		#footer
			.container
				.row
					.col-sm-3
						h4 Site Map
						p 
							a(href="#home") Home
						p 
							a(href="#services") Services
						p 
							a(href="#about-us") About Us
						p 
							a(href="#contact") Contact Us
					.col-sm-3
						h4 Follow Us
						p 
							a(href="javascript:void(0)")
								i.fa.fa-facebook 
								span Facebook
						p 
							a(href="javascript:void(0)")
								i.fa.fa-twitter
								span Twitter
					.col-sm-3
					.col-sm-3.align-right
						h4 Contact
						p 
							i.fa.fa-envelope
							span
								a(href="mailto:yardwiz@gmail.com") yardwiznet@gmail.com
						p 
							i.fa.fa-phone-square 
							span 
								a(href="tel:18559273949") 1-855-YardWiz
		footer#bottom
			.container
				a.logo(href='#home') YardWiz
				span.copyright © 2014 All rights reserved
		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/1.4.12/jquery.smooth-scroll.min.js')
		script(type='text/javascript', src='//cdn.jsdelivr.net/jquery.appear/0.3.3/jquery.appear.min.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.6/jquery.mousewheel.min.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.3.1/jquery.maskedinput.min.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js')
		script(type="text/javascript", src="/compiled/jquery.formance.min.js")
		script(type="text/javascript", src="/compiled/modal.js")
		script(type="text/javascript", src="/compiled/service.viewmodel.js")
		script(type="text/javascript", src="/compiled/main.js")