@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-arrow160:before {
	content: "\e000";
}
.flaticon-arrow241:before {
	content: "\e001";
}
.flaticon-arrow277:before {
	content: "\e002";
}
.flaticon-arrow367:before {
	content: "\e003";
}
.flaticon-autumn1:before {
	content: "\e004";
}
.flaticon-barometer:before {
	content: "\e005";
}
.flaticon-big:before {
	content: "\e006";
}
.flaticon-big41:before {
	content: "\e007";
}
.flaticon-big60:before {
	content: "\e008";
}
.flaticon-bin:before {
	content: "\e009";
}
.flaticon-bin2:before {
	content: "\e00a";
}
.flaticon-caret2:before {
	content: "\e00b";
}
.flaticon-christmas7:before {
	content: "\e00c";
}
.flaticon-close13:before {
	content: "\e00d";
}
.flaticon-cold5:before {
	content: "\e00e";
}
.flaticon-couple13:before {
	content: "\e00f";
}
.flaticon-dark23:before {
	content: "\e010";
}
.flaticon-double9:before {
	content: "\e011";
}
.flaticon-drop1:before {
	content: "\e012";
}
.flaticon-drop4:before {
	content: "\e013";
}
.flaticon-facebook1:before {
	content: "\e014";
}
.flaticon-facebook12:before {
	content: "\e015";
}
.flaticon-facebook24:before {
	content: "\e016";
}
.flaticon-fence2:before {
	content: "\e017";
}
.flaticon-flower1:before {
	content: "\e018";
}
.flaticon-forest:before {
	content: "\e019";
}
.flaticon-graphic5:before {
	content: "\e01a";
}
.flaticon-halloween28:before {
	content: "\e01b";
}
.flaticon-leaf3:before {
	content: "\e01c";
}
.flaticon-leaves3:before {
	content: "\e01d";
}
.flaticon-magic3:before {
	content: "\e01e";
}
.flaticon-pencil2:before {
	content: "\e01f";
}
.flaticon-rounded21:before {
	content: "\e020";
}
.flaticon-saw1:before {
	content: "\e021";
}
.flaticon-shining1:before {
	content: "\e022";
}
.flaticon-small32:before {
	content: "\e023";
}
.flaticon-snowflake:before {
	content: "\e024";
}
.flaticon-technical:before {
	content: "\e025";
}
.flaticon-tree7:before {
	content: "\e026";
}
.flaticon-tree8:before {
	content: "\e027";
}
.flaticon-water3:before {
	content: "\e028";
}
.flaticon-web8:before {
	content: "\e029";
}
.flaticon-white10:before {
	content: "\e02a";
}
.flaticon-wrench5:before {
	content: "\e02b";
}