[class*="coricon-"]:before {
  font-family: 'coricons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}
.coricon-livesync:before {
	content: "\e600";
}
.coricon-file-sent:before {
	content: "\e601";
}
.coricon-file-received:before {
	content: "\e602";
}
.coricon-not-valid:before {
	content: "\e603";
}
.coricon-laptop:before {
	content: "\e604";
}
.coricon-arrow-left:before {
	content: "\e025";
}
.coricon-arrow-down:before {
	content: "\e026";
}
.coricon-arrow-up:before {
	content: "\e027";
}
.coricon-arrow-right:before {
	content: "\e028";
}
.coricon-pictures:before {
	content: "\e029";
}
.coricon-target:before {
	content: "\e000";
}
.coricon-phone:before {
	content: "\e001";
}
.coricon-people:before {
	content: "\e002";
}
.coricon-paperclip:before {
	content: "\e003";
}
.coricon-edit:before {
	content: "\e004";
}
.coricon-details:before {
	content: "\e005";
}
.coricon-touchdown:before {
	content: "\e006";
}
.coricon-starred:before {
	content: "\e007";
}
.coricon-pin:before {
	content: "\e008";
}
.coricon-comment:before {
	content: "\e009";
}
.coricon-add:before {
	content: "\e00a";
}
.coricon-up:before {
	content: "\e00b";
}
.coricon-trash:before {
	content: "\e00c";
}
.coricon-jackpot:before {
	content: "\e00d";
}
.coricon-alert2:before {
	content: "\e032";
}
.coricon-alert1:before {
	content: "\e031";
}
.coricon-starred-open:before {
	content: "\e010";
}
.coricon-sim:before {
	content: "\e011";
}
.coricon-pattern:before {
	content: "\e012";
}
.coricon-location:before {
	content: "\e013";
}
.coricon-graph:before {
	content: "\e014";
}
.coricon-close:before {
	content: "\e015";
}
.coricon-check:before {
	content: "\e016";
}
.coricon-report:before {
	content: "\e017";
}
.coricon-nested:before {
	content: "\e018";
}
.coricon-history:before {
	content: "\e019";
}
.coricon-eye:before {
	content: "\e01a";
}
.coricon-envelope:before {
	content: "\e01b";
}
.coricon-drag:before {
	content: "\e01c";
}
.coricon-upload:before {
	content: "\e01d";
}
.coricon-text:before {
	content: "\e01e";
}
.coricon-settings:before {
	content: "\e01f";
}
.coricon-phone2:before {
	content: "\e020";
}
.coricon-link:before {
	content: "\e021";
}
.coricon-download:before {
	content: "\e022";
}
.coricon-arrow:before {
	content: "\e023";
}
.coricon-envelope-read:before {
	content: "\e024";
}
.coricon-check2:before {
	content: "\e02a";
}
.coricon-arrow2:before {
	content: "\e02b";
}
.coricon-search:before {
	content: "\e02c";
}
.coricon-map:before {
	content: "\e02d";
}
.coricon-alert1:before {
	content: "\e031";
}
.coricon-alert-auth1:before {
  content: "\e030";
}
.coricon-alert-auth2:before {
  content: "\e02f";
}
.coricon-alert-daytona:before {
  content: "\e02e";
}
.coricon-home:before {
	content: "\e00e";
}