/*
  UI Styles: Font Icons
*/
@font-face {
  font-family: 'proviz';
  src:url('/fonts/proviz.eot');
  src:url('/fonts/proviz.eot?#iefix') format('embedded-opentype'),
    url('/fonts/proviz.ttf') format('truetype'),
    url('/fonts/proviz.woff') format('woff'),
    url('/fonts/proviz.svg#proviz') format('svg');
  font-weight: normal;
  font-style: normal;}

[class^="provicon-"], [class*=" provicon-"] {
  font-family: 'proviz';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}

.provicon-globe:before        { content: "\e600";}
.provicon-forrst:before       { content: "\e601";}
.provicon-tags:before         { content: "\e079";}
.provicon-clock:before        { content: "\e0b0";}
.provicon-bubble:before       { content: "\e0e2";}
.provicon-spinner:before      { content: "\e126";}
.provicon-user:before         { content: "\e10a";}
.provicon-spinner2:before     { content: "\e125";}
.provicon-settings:before     { content: "\e140";}
.provicon-stats-down:before   { content: "\e160";}
.provicon-earth:before        { content: "\e1da";}
.provicon-star:before         { content: "\e20b";}
.provicon-star2:before        { content: "\e20a";}
.provicon-star3:before        { content: "\e209";}
.provicon-heart:before        { content: "\e212";}
.provicon-arrow-up:before     { content: "\e29a";}
.provicon-arrow-right:before  { content: "\e29b";}
.provicon-arrow-right2:before { content: "\e2bd";}
.provicon-arrow-down:before   { content: "\e29c";}
.provicon-arrow-left:before   { content: "\e29d";}
.provicon-checkmark:before    { content: "\e25a";}
.provicon-share:before        { content: "\e318";}
.provicon-spin:before         { content: "\e602";}
.provicon-bicycle:before      { content: "\e603";}
.provicon-motorcycle:before   { content: "\e604";}
.provicon-outdoor:before      { content: "\e605";}
.provicon-running:before      { content: "\e606";}
.provicon-horse:before        { content: "\e607";}
.provicon-child:before        { content: "\e608";}
.provicon-proviz:before       { content: "\e609";}
.provicon-tag:before          { content: "\e60a";}
.provicon-basket:before       { content: "\e60b";}
.provicon-cancel:before       { content: "\e60c";}
.provicon-checkmark2:before   { content: "\e60d";}
.provicon-chronometer:before  { content: "\e60e";}
.provicon-alarm-clock:before  { content: "\e60f";}
.provicon-list:before         { content: "\e610";}
.provicon-grid:before         { content: "\e611";}
.provicon-grid2:before        { content: "\e612";}
.provicon-truck:before        { content: "\e613";}
.provicon-male:before         { content: "\e614";}
.provicon-female:before       { content: "\e615";}
