/* Colors */
@import "compass";
$light-grey: #ebebeb;
$medGrey: #CCC;
$green: #89d434;
$purple: #cc7edb;
$darkGrey: #333333;
$red: #B94A48;
$error_red: #C05C5A;

/* Icon Font */
@font-face {
  font-family: 'coricons';
  src: url('../fonts/coricons.eot');
  src: url('../fonts/coricons.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/coricons.woff') format('woff'), 
  url('../fonts/coricons.ttf') format('truetype'), 
  url('../fonts/coricons.svg#coricons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin transition($trans...) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -ms-transition: $trans;
  transition: $trans;
  -webkit-backface-visibility: hidden;
}

@mixin opacity($opacity) {
  zoom: 1;
	filter: alpha(opacity=$opacity*100);
	opacity: $opacity;  
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin boxshadow($bshadow) {
  -webkit-box-shadow: $bshadow;
  -moz-box-shadow: $bshadow;
  -ms-box-shadow: $bshadow;
  box-shadow: $bshadow;
}

@mixin ellip {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin flip-horiz() {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

@mixin stretch ($x, $y) {
  transform:scale($x,$y); 
  -webkit-transform:scale($x,$y);
  -moz-transform:scale($x,$y); 
  -ms-transform:scale($x,$y); 
  -o-transform:scale($x, $y);  
}

@mixin grey-gradient() {
  background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 12%, #e5e5e5 75%, #d3d3d3 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(12%,#ffffff), color-stop(75%,#e5e5e5), color-stop(100%,#d3d3d3)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 12%,#e5e5e5 75%,#d3d3d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 12%,#e5e5e5 75%,#d3d3d3 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 12%,#e5e5e5 75%,#d3d3d3 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ffffff 12%,#e5e5e5 75%,#d3d3d3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
  
body{
   font-family: 'Lato', sans-serif;
   overflow-x: hidden;
   font-size: 16px;
}

h1:not(.semantic-content) {
	font-family: 'Lato', sans-serif;
	font-size: 5em;
	font-weight: 100;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
}
h2 {
      font-size: 1.5em;
      font-weight: 300;
      color: $green;
      margin: 0;
    }

h3 {
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	color: #CCC;
	font-weight: 300;
	margin-top: -15px;
	margin-left: 2px;
	text-transform: none;
	text-align: center;
	margin-bottom: 20px;
}
h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin: 0 0 10px;
}


textarea::-webkit-input-placeholder {
   color: $medGrey;
   text-transform: uppercase;
}

textarea:-moz-placeholder { /* Firefox 18- */
   color: $medGrey;  
}

textarea::-moz-placeholder {  /* Firefox 19+ */
   color: $medGrey;  
}

textarea:-ms-input-placeholder {  
   color: $medGrey;  
}
* {
	outline: none;
}
section:not(.semantic-content) {
	position: relative;
	width: 100%;
	display: block;
	height: auto;
	overflow: hidden;
}

a.button {
	cursor: pointer;
	display: inline-block;
	width: auto;
	background-color: $green;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1em 4em;
	font-size: 1em;
	margin: 0;
	&:hover{
			background: #78CC18;	
		}
	&.purple{
		background-color: darken($purple, 5);
		&:hover{
			background-color: darken($purple, 7);
		}
	}
}

a {
	@include transition(all 0.2s);
	color: $green;
	text-decoration: none;
}

.navbar-toggle:hover,
.navbar-toggle:focus{background-color:#eee;}
.navbar-toggle .icon-bar{background-color:#cccccc;}
#navy{
  font-family: 'Lato', sans-serif;
  background-color: rgba(#FFF, 0.95);
  min-height: 50px;
  @include border-radius(0);
  padding: 10px 0;
  @include boxshadow(0 1px 4px rgba(#000, 0.2));
	ul {
		text-align: center;
	}
  li{
    display: inline-block;
    vertical-align: middle;
		float: none;
    a{
      text-decoration: none;
      color: #999;
      @include transition(color 0.2s ease-in-out);
      &:hover{
        color: $green;
        background: rgba(0, 0, 0, 0);
      }
    }
    &.active{
      a{
        color: $green;
      }
    }
  }
  #nav-logo {
  	display: none;
  	&.scrolled {
			display: block;
		}
  }
  .navbar-nav{
  	float: none;
  }
	
}

.outgoing{
	fill: #FFFFFF;
}
.logo {
	display: block;
	font-size: 2.2em;
	color: #000;
	text-decoration: none;
	position: relative;
	z-index: 12;
	position: absolute;
	left: 50px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-text-shadow: 0 0 130px #fff;
	-moz-text-shadow: 0 0 130px #fff;
	-ms-text-shadow: 0 0 130px #fff;
	-o-text-shadow: 0 0 130px #fff;
	text-shadow: 0 0 130px #FFF;
	font-weight: 800;
	
	&.head {
		top: 20px;
		padding: 0;
		& > .glyph-icon {
			top: -25px;
			right: -5px;
		}
	}
	&:hover{
		color: darken($purple, 5);
		text-decoration: none;
	}
	& > .glyph-icon {
		position: absolute;
		font-size: 32px;
		top: -12px;
		right: 9px;
		-webkit-transform: rotate(20deg);
		transform: rotate(20deg);
		ms-transform:rotate(20deg);
		color: #1E5EC7;
	}
}
#home {
	height: 800px;
	background-image: url('/images/cover-bg-plain.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding: 0 0;
	
	#services-alert {
		cursor: pointer;
		position: fixed;
		right: 21px;
		top: 15px;
		color: #FFF;
		z-index: 9990;
		&.scrolled{
			color: #DDD;
		}
		
		img {
			position: relative;
			top: -6px;
		}
		.icon:before {
			font-size: 3.5rem;	
		}
				
		#alert-num {
			position: absolute;
			right: -7px;
			background-color: #cf3a3a;
		} 
		
		a.button{
			margin: 1em 0 0 0;
		}
		
	}
	
	.container {
		height: 100%;
		display: table;
		padding: 0 5%;
		width: 80em;
		max-width: 90%;
		margin: 0 auto;
		position: relative;
		z-index: 8;
		&, &:before, &:after {
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
				box-sizing: content-box;
		}
		.more-down-link {
			text-decoration: none;
			color: $purple;
			font-weight: 300;
			font-size: 1.8em;
			text-transform: uppercase;
			position: absolute;
			bottom: 5%;
			left: 50px;
			display: block;
			padding: 1em 0;
			&:hover {
				color: darken($purple, 5);	
			}
			i{
				position: absolute;
				top: -9px;
				margin-left: -35px;
				&:before{
					font-size: 3em;
				}
			}
		}
	}
	
	.home-content {
		display: table-cell;
		vertical-align: middle;
		
		h1 {
			font-size: 5.4em;
			margin: -1em 0 0.4em 0;
			font-weight: 300;
			text-transform: uppercase;
			line-height: 1;
			text-align: left;
		}
	}
}

#services {
	margin-bottom: 60px;
	position: relative;
	&.scrolled {
		margin-top: 92px;
	}
	a{
		text-decoration: none;
		color: $darkGrey;
	}
  
  .service {
    font-weight: 300;
    font-size: 1.5em;
    white-space: nowrap;
    text-align: center;
    line-height: 23px;
    margin-top: 30px;
    padding-bottom: 5px;
    p{
      margin: 10px 0 0 0;
    }
  }
  
  .pages {
  	margin: 0 auto;
		width: 80px;
		
		.page-button {
			display: inline-block;
			font-size: 2.3em;
			margin: 20px 5px 5px 5px;
			color: $medGrey;
			cursor: pointer;
			&:hover {
				color: darken($medGrey, 3); 
			}
		}
  }
}

.service-icon{
  margin: 0 auto;
  display: block; 
  width: 7em;
  height: 7em;
  @include border-radius(50%);
  border: 8px solid $light-grey;
  @include transition(border 0.2s ease-in-out);
  
  &:hover{
    border-color: #CCC;
  }
  .glyph-icon {
    @include opacity(.65); /*.65*/
    @include transition(opacity 0.2s ease-in-out);
    font-size: 4em;
    line-height: 110px;
    &.wf {
      color: #1192ff;
    }
    &.ss{
      color: #cf3a3a; 
    }
    &.ps {
      color: $purple;
    }
    &.ts{
      color: $green;
    }
    &.fd {
      color: #dadada;
    }
    &.tr{
      color: #808080;
    }
    &.is{
      color: #2e64ff;
    }
    &.id{
    	color: #000;
    }
  }
  &:hover{
    cursor: pointer;
    .glyph-icon {
      @include opacity(1);
    } 
  }
  
}

#details {
	text-align: left;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.4);
box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.4);
  .container {
    position: relative;
    height: inherit;
  }
  input[type="button"] {
		width: 300px;
		background: #89D434;
		color: #FFF;
		font-size: 24px;
		font-weight: 200;
		border-radius: 4px;
		border: 1px solid #ACEB65;
		outline: none;
		
		&:hover{
			background: #78CC18;	
		}
	}

   
   p {
     font-size: 18px;
     display: block;
     margin-top: 8px;
   }
   header {
  	h1 {
      font-size: 1em; 
      font-weight: 300;
      margin: 5px 0;
      text-align: left;
   	}
   }
   
   footer{
   	a.button{
   		padding: .5em 1em;
   		margin: 0;
   		cursor: pointer;
   	}
   }    
   
   h2 {
     font-size: 1.5em;
     font-weight: 300;
     color: $green;
     margin: 0;
   }

}



#about-us{
  padding-bottom: 0;
  @include grey-gradient();
  p {
  	font-size: 1.1em;
		font-weight: 300;
		text-align: center;
  }
}
#about-img{
	height: 600px;
}

#footer {
	background: #E0E0E0;
	padding: 40px 0 50px 0;
	.align-right {
		text-align: right;
	}
	h4 {
		text-transform: uppercase;
		font-weight: 300;
		color: #FFF;
		font-size: 1.5em;
		margin: 10px 0 5px -1px;
		
	}
	p{
		margin: 0;
		font-weight: 300;
		color: #666;
		i{
				width: 15px;
			 & + span {
			 	margin-left: 5px;
			 }
			}
		a {
			@include transition(color 0.1s ease-in-out);
			color: inherit;
			&:hover {
				text-decoration: none;
				color: #FFF;
			}
		}
	}
}

footer#bottom {
	min-height: 150px;
	background-color: #666;
	padding: 50px;
	.container {
		text-align: center;
		line-height: 50px;	
	}
	.logo {
		color: #3B3B3B;
		text-shadow: #999 1px 1px 0px;
		&:hover {
			color: #eee;
		}
	}
}
#form-errors{
	@include opacity(0);
  @include transition(opacity 0.2s ease-in-out);
  &.errored{
  	@include opacity(1);
  	color: #B94A48;	
  }
  &.success{
    @include opacity(1);
    color: #78CC18; 
  }
  margin-bottom: 10px;
  
}
.contact-form-wrapper {
	margin-top: 70px;
	margin-bottom: 100px;
	
	.service-details {
		h1 {
			font-size: 2.5rem;
			text-align: left;
			font-weight: 300;
		}
		i.del {
			cursor: pointer;
			position: relative; margin-left: 5px; top: -3px;
			&:hover {
				color: $error_red;
			}
		}
	}
}
.service-details{
	text-align: left;
	
}
.select-services {
	height: 362px;
	width: 100%;
	display:table;
	text-align: center;
	
	.button-wrapper{
		display: table-cell;
		vertical-align: middle;
		
		p {
			width: 300px;
			font-size: 1em;
			color: #666;
			line-height: 18px;
			font-weight: 400;
			margin: 5px auto;
		}
	}
}

.horizln {
	width: 100%;
	background: $green;
	height: 7px;
}

.glyph-icon{
  padding: .2em;
  display: inline-block;
  font-family: "Flaticon";
  font-size: 80px;
}

.glyph-icon:before{
  content: attr(data-icon);
}

.checkbox-p input {
  display: none;
}

.checkbox-p label {
  color: rgba(0, 0, 0, 0.7);
  font-weight: normal;
}

.checkbox-p label span.cbox i {
  display: none;
  bottom: 0;
  left: 2px;
  position: absolute;
  line-height: 10px;
}

.checkbox-p label span.cbox {
  position: relative;
  width: 13px;
  height: 13px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.2);
  margin-right: 8px;
  border-radius: 1px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  top: 1px;
}

.checkbox-p input:checked + label span.cbox i {
  display: block;
}

.checkbox-p input:checked + label span.cbox {
  background: rgba(0, 0, 0, 0.1);
}

.checkbox-p input:checked + label {
  color: black;
}

input[type='text'],
input[type='email'],
input[type='password'] {
	border: none;
	outline: 0;
	width: 100%;
	padding: 0px 5px;	
}

textarea{
	outline: 0;
	width: 100%;
	max-width: 100%;
	height: 200px;
	padding: 0 10px 10px;
	border: none;
}
.input-group-inline {
	display: inline-block;
	width: 100%;
	margin-bottom: -5px;
	.input-wlabel{
		float: left;
		width: 49%;
		 + .input-wlabel{
			float: right;
		}
	}
}
.input-wlabel .input-fluid {
    display: block;
    overflow: hidden;
}
.input-wlabel {
	border: 3px solid $light-grey;
	@include border-radius(5px);
	padding: 5px 0px 5px 10px;
	margin-bottom: 10px;
	&.required {
		label {
			&:after {
				content: '*';
				margin-left: 2px;
				color: $error_red;
			}
		}	
	}
	&.textarea{
		padding: 0;
		label {
			margin-left: 10px;
			margin-top: 5px;
		}
	}
	label {
		text-transform: uppercase;
		position: relative;
		color: #CCC;
		float: left;
		&.errored{
			color: $error_red;
		}
		
		.hidden-xs {
			display: inline-block !important;
		}
	}
}

.visible, .show{
  visibility: visible !important;
}

.animated {
  visibility: hidden;
}

@media screen and (max-width: 767px) {
  .select-services {
  	height: 200px;
  }
  .contact-form-wrapper {
  	margin-top: 0;
  }
}

@media screen and (max-width: 495px) {
  .select-services {
  	height: 150px;
  	input[type=button] {
  		width: 200px;
  	}
  	.button-wrapper {
	  	p {
	  		width: 175px;
	  	}
  	}
  	
  }
  h1 {
  	font-size: 5rem;
  }
  h3 {
  	font-size: 17px;
  } 
}


/* big resolutions */
@media only screen and (min-width: 1900px) {
	body {
		font-size:16px;
	}

}
@media only screen and (max-width: 1300px) {
	img.cover-hand {
		position: absolute;
		top:0;
		left: 54%;
		margin-top:-115px;
		margin-left:35px;
	}
	img.stand-footer {
		position: absolute;
		bottom: -5%;
		left: 54%;
		margin-left: -48px;
	}
}
/* tablet, landscape */
@media only screen and (max-width: 1024px) {
	body {
		font-size:16px;
	}
	#about-img {
	 height: 550px;
	}

}
/* tablet, portrait & smartphones, landscape */
@media only screen and (max-width: 767px) {
	body {
		font-size:13px;
	}
	.service-icon .glyph-icon {
		padding: 0em;
	}
	#navy{
		padding: 0;
	}
	 #footer {
    .align-right {
      text-align: left;
    }
  }
  .input-wlabel label .hidden-xs {
		display: none !important;
	}
	
	.input-wlabel label .visible-xs {
		display: inline-block !important;
	}
	.logo {
		&.head {
			& > .glyph-icon {
				top: -17px;
				right: -1px;
			}
		}
		& > .glyph-icon {
			font-size: 23px;
			top: -6px;
			right: 14px;
		}
	}
}
/* smartphones, portrait */
@media only screen and (max-width: 400px) {
	body {
		font-size:11px;
	}
	.service-icon .glyph-icon {
		padding: 0em;
		margin-top: -.1em;
	}
	#navy{
		padding: 0;
	}
	
	.logo {
		left: .3em;
		&.head {
			left: 1em;
			& > .glyph-icon {
				top: -19px;
				right: -5px;
			}
		}
		& > .glyph-icon {
			top: -5px;
			right: 10px;
		}
	}
	#home{
		height: 400px;
		background-position: 30% 75%;
		.home-content {
			h1{
				font-size: 2.4em;
			}
		}
		.container {
			.more-down-link {
				left: 1em;
				font-weight: 300;
			}
		}
	}
	a.button {
		padding: 1em 2em;
	}
	h1:not(.semantic-content) {
		font-size: 4em;
	}
	
	#services{
		.service {
			margin-top: 0;
		}
		.pages {
			.page-button {
				margin: 10px 5px 5px 5px; 
			}
		}
	}
	#footer {
		.align-right {
			text-align: left;
		}
	}
	footer {
		.copyright {
			margin: 3px -106px 0 0;
			display: block;
		}
		.logo {
			left: 1em;
		}
	}
}

/* Select Styles */
@import url("http://fonts.googleapis.com/css?family=Lato");

$background: #e74c3c;
$select-color: #eee;
$select-background: #CCC;
$select-width: 100%;
$select-height: 40px; 

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: $select-color;
  width: $select-width;
  height: $select-height;
}
.select-styled {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  padding: 8px 15px;
  @include transition(all 0.2s ease-in);
  &:after {
  	font-family:'FontAwesome';
    content:"\f107";
    position: absolute;
    right: 10px;
    top: 6px;
		font-size: 20px;
  }
  &:hover {
    background-color: darken($select-background, 2);
  }
  &:active, &.active {
    background-color: darken($select-background, 5);
    &:after {
      content: "\f106";
    }
  }
}

.select-options {
  display: none; 
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $select-color;
  color: #888;
  li {
    margin: 0;
    padding: 12px 0;
    border-top: 1px solid darken($select-background, 10);
    @include transition(all 0.15s ease-in);
    &:hover {
      color: #999 !important;
      background: darken($select-color, 12) !important;
    }
    &.selected {
      color: #666;
      background: darken($select-color, 9);
    }
    &[rel="hide"] {
      display: none;
    }
  }
}

.semantic-content {
	 h1 {
	 	font-size: 2em;
		font-weight: 200;
		text-align: left;
		margin: 15px 0;
	 }
	 .modal-close {
	 	font-size: 16px;
	 }
	 a.button {
	  -webkit-transition: 0.2s;
	  -o-transition: 0.2s;
	  transition: 0.2s;
	  display: inline-block;
	  text-decoration: none;
	  color: #fff;
	  border-radius: 2px;
	  padding: 0.5em 1em;
	  margin-top: 1.2em;
	}
}